Repository na2na-p/avion, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Schema, CI

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
Schema: "packages/graphql/**/*"
CI: ".github/**/*"

小文字で統一する
  docs/usecase/Drop.md
Labels: none

Media添付のみのユースケースに対応
  docs/usecase/Drop.md
Labels: none

Emoji周りのユースケース追加
  docs/usecase/Drop.md
  docs/usecase/Emoji.md
  packages/graphql/src/types/Medium.graphql
Labels: Schema

Fix typo
  docs/usecase/Drop.md
Labels: none

ユースケース修正
  docs/usecase/Emoji.md
Labels: none

カテゴリ周りの見直し
  docs/usecase/Emoji.md
  packages/graphql/src/types/Emoji.graphql
Labels: Schema

fix typo
  docs/usecase/Emoji.md
Labels: none

ts-nodeやめる
  packages/backend/jest.config.js
  packages/backend/package.json
  pnpm-lock.yaml
Labels: Backend

NestJSだけ切り出す
  renovate.json
Labels: none

tsxに統一
  packages/backend/package.json
Labels: Backend

fmt:fix
  packages/backend/src/types/ElementOf.ts
Labels: Backend

Update depilated code actions on save settings
  .vscode/settings.json
Labels: none

Add usecase: Follow
  docs/usecase/Follow.md
  packages/graphql/src/types/Follow.graphql
Labels: Schema

fix fmt
  packages/graphql/src/types/Follow.graphql
Labels: Schema

Add usecase: JobQueue
  docs/usecase/JobQueue.md
  packages/graphql/src/types/JobQueue.graphql
Labels: Schema

PRテンプレート簡略化
  .github/pull_request_template.md
Labels: CI

labeler壊したの直した
  .github/workflows/labeler.yml
Labels: CI

repo init
  .editorconfig
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: none
