Repository na2na-p/avion, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Schema, CI

.github/labeler.yml:

Frontend: "packages/frontend/**/*"
Backend: "packages/backend/**/*"
Schema: "packages/graphql/**/*"
CI: ".github/**/*"

Change default merge method
  .github/workflows/enable-auto-merge.yml
Labels: CI

Change default merge method (#43)
  .github/workflows/enable-auto-merge.yml
Labels: CI

Add rules
  packages/backend/.eslintrc.js
Labels: Backend

resolver類をgraphqlディレクトリの中に閉じ込めるように
  packages/backend/.swcrc
  packages/backend/src/app/app.module.ts
  packages/backend/src/graphql/graphql.module.ts
  packages/backend/tsconfig.json
Labels: Backend

Add paths
  packages/backend/.swcrc
  packages/backend/tsconfig.json
Labels: Backend

Add rules
  packages/backend/.eslintrc.js
  packages/backend/package.json
  pnpm-lock.yaml
Labels: Backend

parts配下に切り出し
  packages/backend/src/graphql/enumeration/enumeration.service.ts
  packages/backend/src/graphql/enumeration/parts/index.ts
  packages/backend/src/graphql/enumeration/parts/internal/baseRoleTypes.ts
  packages/backend/src/graphql/enumeration/parts/internal/mediaExtensionTypes.ts
  packages/backend/src/graphql/enumeration/parts/internal/postScopes.ts
  packages/backend/src/graphql/enumeration/parts/internal/timelineTypes.ts
Labels: Backend

Linter auto fix
  packages/backend/src/app/app.module.ts
  packages/backend/src/graphql/enumeration/enumeration.module.ts
  packages/backend/src/graphql/enumeration/enumeration.resolver.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.resolver.ts
  packages/backend/src/graphql/enumeration/enumeration.service.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.service.ts
  packages/backend/src/graphql/enumeration/parts/internal/baseRoleTypes.ts
  packages/backend/src/graphql/enumeration/parts/internal/mediaExtensionTypes.ts
  packages/backend/src/graphql/enumeration/parts/internal/postScopes.ts
  packages/backend/src/graphql/enumeration/parts/internal/timelineTypes.ts
  packages/backend/src/graphql/enumeration/utils/exhaustiveCheck.ts
  packages/backend/src/graphql/graphql.module.ts
  packages/backend/src/main.ts
Labels: Backend

Add types
  packages/backend/src/enumeration/enumeration.resolver.ts
  packages/backend/src/types/Typename.ts
Labels: Backend

Add utility types
  packages/backend/src/graphql/enumeration/utils/exhaustiveCheck.ts
Labels: Backend

Add rules
  packages/backend/.eslintrc.js
Labels: Backend

Add Utility Types
  packages/backend/src/types/Choices.ts
  packages/backend/src/types/ElementOf.ts
Labels: Backend

Move
  packages/backend/src/app/app.module.ts
  packages/backend/src/graphql/enumeration/enumeration.module.ts
  packages/backend/src/graphql/enumeration/enumeration.resolver.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.resolver.ts
  packages/backend/src/graphql/enumeration/enumeration.service.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.service.ts
Labels: Backend

Add comment
  packages/backend/src/graphql/enumeration/utils/exhaustiveCheck.ts
Labels: Backend

バックエンドリファクタリング (#44)
  packages/backend/.eslintrc.js
  packages/backend/.swcrc
  packages/backend/package.json
  packages/backend/src/app/app.module.ts
  packages/backend/src/enumeration/enumeration.service.ts
  packages/backend/src/graphql/enumeration/enumeration.module.ts
  packages/backend/src/graphql/enumeration/enumeration.resolver.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.resolver.ts
  packages/backend/src/graphql/enumeration/enumeration.service.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.service.ts
  packages/backend/src/graphql/enumeration/parts/index.ts
  packages/backend/src/graphql/enumeration/parts/internal/baseRoleTypes.ts
  packages/backend/src/graphql/enumeration/parts/internal/mediaExtensionTypes.ts
  packages/backend/src/graphql/enumeration/parts/internal/postScopes.ts
  packages/backend/src/graphql/enumeration/parts/internal/timelineTypes.ts
  packages/backend/src/graphql/enumeration/utils/exhaustiveCheck.ts
  packages/backend/src/graphql/graphql.module.ts
  packages/backend/src/main.ts
  packages/backend/src/types/Choices.ts
  packages/backend/src/types/ElementOf.ts
  packages/backend/src/types/Typename.ts
  packages/backend/tsconfig.json
  pnpm-lock.yaml
Labels: Backend

pin @nestjs/mapped-types version
  packages/backend/package.json
  pnpm-lock.yaml
Labels: Backend

pin @nestjs/mapped-types version (#46)
  packages/backend/package.json
  pnpm-lock.yaml
Labels: Backend

通常のマージに戻した
  .github/workflows/enable-auto-merge.yml
Labels: CI

Update ERD
  packages/backend/prisma/erd.md
Labels: Backend

Fix tests
  packages/backend/src/graphql/enumeration/enumeration.resolver.spec.ts
  packages/backend/src/graphql/enumeration/enumeration.service.spec.ts
Labels: Backend

ジョブキュー周りの追加
  packages/graphql/src/enums.graphql
  packages/graphql/src/types/JobQueue.graphql
  packages/graphql/src/types/Terminal.graphql
Labels: Schema

Add enum
  packages/backend/prisma/schema.prisma
Labels: Backend

Add Vulnerability Scan
  .github/workflows/scan-vulnerability.yml
Labels: CI

Add snyk
  .github/workflows/scan-vulnerability.yml
  .tool-versions
Labels: CI

asdf 使うように
  .devcontainer/Dockerfile
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
Labels: none

workspaceのパスがおかしかったのを修正
  .devcontainer/compose.yml
Labels: none

expose portする
  .devcontainer/devcontainer.json
Labels: none

pnpm周りで壊れがちなのを修正
  .devcontainer/devcontainer.json
Labels: none

extensions追加
  .devcontainer/devcontainer.json
Labels: none

bookworm化
  .devcontainer/compose.yml
Labels: none

アンテナ周りのスキーマ追加
  packages/graphql/src/types/Drop.graphql
  packages/graphql/src/types/Timeline.graphql
Labels: Schema

アンテナのユースケース追加
  docs/usecase/Antenna.md
Labels: none

ユースケースに合わせてスキーマ更新
  packages/graphql/src/schema.graphql
  packages/graphql/src/types/Antenna.graphql
Labels: Schema

ESLintと一蓮托生やめる
  .vscode/settings.json
  packages/backend/.eslintrc.js
  packages/backend/package.json
  pnpm-lock.yaml
Labels: Backend

Auto fixed by eslint
  packages/graphql/.prettierrc
  packages/graphql/package.json
  packages/graphql/src/enums.graphql
  packages/graphql/src/schema.graphql
  packages/graphql/src/types/Antenna.graphql
  packages/graphql/src/types/Drop.graphql
  packages/graphql/src/types/Emoji.graphql
  packages/graphql/src/types/Enumeration.graphql
  packages/graphql/src/types/Follow.graphql
  packages/graphql/src/types/JobQueue.graphql
  packages/graphql/src/types/Medium.graphql
  packages/graphql/src/types/Reaction.graphql
  packages/graphql/src/types/Role.graphql
  packages/graphql/src/types/Terminal.graphql
  packages/graphql/src/types/Timeline.graphql
  packages/graphql/src/types/User.graphql
Labels: Schema

Auto fixed by eslint
  packages/backend/.prettierrc
  packages/backend/.prettierrc.js
  packages/backend/package.json
  packages/backend/src/types/Typename.ts
Labels: Backend

CIでフォーマットチェックするように
  .github/workflows/ci.yml
  package.json
  turbo.json
Labels: CI

WIP 投稿周りのユースケース
  docs/usecase/Drop.md
Labels: none

Timeline構築周りの再検討
  packages/graphql/src/types/Drop.graphql
  packages/graphql/src/types/Timeline.graphql
Labels: Schema

タイムライン周りのユースケースとして分離
  docs/usecase/Drop.md
  docs/usecase/Timeline.md
Labels: none
